<a href="https://colab.research.google.com/github/rgranit/academix-ydata-project/blob/master/code/1_clean_NIH_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3>Outline</h3>

From NIH merged database, take PI_NAMEs and create a new column `cleaned_name` which:
1. Removes any parenthesis or extra information from names (that includes possible other last names for researcher)
2. Turns TUAN, ROCKY S -> Tuan, RS
3. If there are several names, it keeps them in the same cell with a ';' as a divider.

## Initializations

In [1]:
import os, urllib, glob, sys
from getpass import getpass

user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
cmd_string = "! git clone https://{0}:{1}@github.com/rgranit/academix-ydata-project AYP".format(user, password)

os.system(cmd_string)
cmd_string, password = "", "" # removing the password from the variable

% cd '/content/AYP/code'

User name: ShaulSolomon
Password: ··········
/content/AYP/code

In [0]:
''' Initializations '''
import os, sys, glob
import re
import pandas as pd
import numpy as np
#sys.path.append('./code/')
import utils

PATH = "data/labeled_dataset/"
FILE = 'NIH_precleaning_large.csv'
OUT_PATH = "data/labeled_dataset/"
OUT_FILE = 'NIH_postcleaning_large.csv'

In [0]:
%load_ext autoreload
%autoreload 2

In [9]:
if os.path.exists(PATH + FILE):
    print("Getting local file...")
    df = pd.read_csv(PATH+FILE)
    df.drop('Unnamed: 0',axis=1, inplace=True)
else:
    print("Getting File from S3...")
    df = utils.get_dataframe_from_s3(file=FILE)
    df.drop('Unnamed: 0',axis=1, inplace=True)
print("File recieved")

Getting File from S3...
File recieved

In [0]:
cd ..

In [10]:
print(df.head())
print(df.shape)

       PMID PROJECT_NUMBER    FY ORG_STATE    PI_IDS        PI_NAMEs
0  19415686    ZIAAR041131  2009       NaN  1858712;  TUAN, ROCKY S;
1  19650110    ZIAAR041131  2009       NaN  1858712;  TUAN, ROCKY S;
2  19283731    ZIAAR041131  2009       NaN  1858712;  TUAN, ROCKY S;
3  19274753    ZIAAR041131  2009       NaN  1858712;  TUAN, ROCKY S;
4  19479830    ZIAAR041131  2009       NaN  1858712;  TUAN, ROCKY S;
(22172394, 6)

In [0]:
def separate_names(names):
  '''
  Input: a name "LASTNAME, FIRSTNAME MIDDLENAME|MIDDLE_INITIAL;" ex: TUAN, ROCKY S
  Return: "Lastname, Firstinitial_Middleinitial" ex: Tuan, RS
  '''
  try:
    cleaned_name = ""
    each_name = names.strip().replace(', ', ' ').split(' ')
    if (len(each_name) == 1):
      #Only has a last name
      cleaned_name = np.NaN
      ### We consider this data unfit and need to remove it right after. ###

    #Due to having bugging issue with sub-arrays and strip columns, inside each name the divider between last name and first name will be !(which will be returned to , after .exploding() rows)  
    elif (len(each_name) == 2):
      #Just has a last name and a first name
      cleaned_name = each_name[0].capitalize() + "! " + each_name[1][0].upper()
    else:
      if len(each_name[2]) == 1:
        #If it's a middle initial
        cleaned_name = each_name[0].capitalize() + "! " + each_name[1][0].upper() + each_name[2].upper()
      else:
        #If it's a middle name
        cleaned_name = each_name[0].capitalize() + "! " + each_name[1][0].upper() + each_name[2][0].upper()
  except:
    print(names)
  return cleaned_name

def clean_name(name):
  '''
  PI_NAMEs can have several names at the Private investigators.
  input: A cell of df["PI_NAMEs"]
  output: cleaned version of each PI in "PI_NAMEs"
  '''
  if type(name) != 'str':
    name = str(name)
  name = name.lower()
  names = name.split(';')


  #remove contact names in database
  names = [re.sub(r'.*\(contact\).*',"",name) for name in names]
  #remove optional other last name from name
  names = [re.sub(r' \(.*\)',"",name) for name in names]
  #remove extra spaces
  names = [re.sub(r' +',' ',name) for name in names]
  #for the few cases where have " , " instead of ", "
  names = [re.sub(r' , ',', ',name) for name in names]
  #remove empty strings
  names = list(filter(lambda x: x != "", names))


  if len(names) == 0:
    print("ERROR WITH NAME: ", name)
    return "ERROR WITH NAME"

  elif len(names) == 1:
    new_name = separate_names(names[0])
      
  else:
    new_name = ""
    for name in names:
      added_name = separate_names(name)
      # We want unfit names to get a 'nan' value so we can drop them, but will many people, we want to skip the name
      if isinstance(added_name,str):
        new_name += added_name + ","

  return new_name

In [0]:
df['cleaned_name'] = [clean_name(name) for name in df['PI_NAMEs']]

In [0]:
#Get rid of NaN data
df.dropna(inplace=True)
df.loc[df.cleaned_name.isna()]

#Weirdly, the PI_IDS themselves were unclean, with empty spaces at the end, .strip() cleans it
df['PI_IDS'] = [x.strip() for x in df['PI_IDS']]
df['cleaned_name'] = [x.strip(',') for x in df['cleaned_name']]

In [0]:
#drop duplicates
df.drop_duplicates(subset=['PMID','PROJECT_NUMBER','PI_IDS','ORG_STATE'],keep='first',inplace=True)

In [0]:
df2 = df.copy()
df2 = df2[['PMID',"PI_IDS","cleaned_name","ORG_STATE"]]

In [0]:
#change the delimeter in ids to , and not ;
df2['PI_IDS'] = [re.sub(";", ",",x.strip(";")) for x in df2['PI_IDS']]

In [0]:
#remove (contact) ids from the dataframe
df2['PI_IDS'] = [re.sub(", [0-9]+ *\(contact\)","",x) for x in df2['PI_IDS']]
df2['PI_IDS'] = [re.sub("[0-9]+ \(contact\),","",x) for x in df2['PI_IDS']]
df2['PI_IDS'] = [re.sub("[0-9]+ \(contact\)","",x) for x in df2['PI_IDS']]
df2['PI_IDS'] = [x.strip(",") for x in df2['PI_IDS']]

In [0]:
#find how many rows have several values in them.
idx_multiple_val = ["," in x for x in df2["PI_IDS"]]
df_multiple = df2[idx_multiple_val]
idx_single_val = ["," not in x for x in df2["PI_IDS"]]
df_single = df2[idx_single_val]

In [0]:
#breaks row with multiple values into multiple rows
df_multiple = df_multiple.set_index(['PMID','ORG_STATE']).apply(lambda x: x.str.split(',').explode()).reset_index()

In [0]:
merged_df = pd.concat([df_multiple,df_single])
merged_df.drop_duplicates(keep="first",inplace=True)

In [21]:
np.any(merged_df.duplicated())

False

In [0]:
#Return the name back to ',' from '!'
merged_df['cleaned_name'] = [re.sub("!",",",x) for x in merged_df['cleaned_name']]

## Uploading

In [0]:
merged_df.to_csv(OUT_PATH + OUT_FILE)
file = open(OUT_PATH + OUT_FILE, 'r+', encoding='utf-8')
utils.upload_to_s3(file=file,key = OUT_FILE)
file.close()