<a href="https://colab.research.google.com/github/rgranit/academix-ydata-project/blob/master/code/1_Getting_Labeled_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
''' Initializations '''

import pandas as pd
import os
from getpass import getpass
import urllib

user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
PATH = "/content/AYP/data/labeled_dataset/source_files/"

User name: ShaulSolomon
Password: ··········

In [0]:
cmd_string = '! git clone https://{0}:{1}@github.com/rgranit/academix-ydata-project AYP'.format(user, password)

os.system(cmd_string)
cmd_string, password = "", "" # removing the password from the variable

In [0]:
! cd /content/AYP

Databases were scraped from:
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=0&index=5
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=5&index=0

(There is a theoretical other dataset on the publications themselves, if we so need).

Details on database metadata: https://exporter.nih.gov/about.aspx

In [13]:
!unzip /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.zip -d /content/AYP/data/labeled_dataset/source_files/
!unzip /content/AYP/data/labeled_dataset/source_files/nih_prj.zip -d /content/AYP/data/labeled_dataset/source_files/

Archive:  /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.zip
replace /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.csv
Archive:  /content/AYP/data/labeled_dataset/source_files/nih_prj.zip
  inflating: /content/AYP/data/labeled_dataset/source_files/RePORTER_PRJ_C_FY2014.csv

In [16]:
publnk = pd.read_csv(PATH + "RePORTER_PUBLNK_C_2014.csv")
pubprj = pd.read_csv(PATH + "RePORTER_PRJ_C_FY2014.csv", encoding='latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
print(pubprj.columns)
print(publnk.columns)

Index(['APPLICATION_ID', 'ACTIVITY', 'ADMINISTERING_IC', 'APPLICATION_TYPE',
       'ARRA_FUNDED', 'AWARD_NOTICE_DATE', 'BUDGET_START', 'BUDGET_END',
       'CFDA_CODE', 'CORE_PROJECT_NUM', 'ED_INST_TYPE', 'FOA_NUMBER',
       'FULL_PROJECT_NUM', 'FUNDING_ICs', 'FUNDING_MECHANISM', 'FY', 'IC_NAME',
       'NIH_SPENDING_CATS', 'ORG_CITY', 'ORG_COUNTRY', 'ORG_DEPT',
       'ORG_DISTRICT', 'ORG_DUNS', 'ORG_FIPS', 'ORG_IPF_CODE', 'ORG_NAME',
       'ORG_STATE', 'ORG_ZIPCODE', 'PHR', 'PI_IDS', 'PI_NAMEs',
       'PROGRAM_OFFICER_NAME', 'PROJECT_START', 'PROJECT_END', 'PROJECT_TERMS',
       'PROJECT_TITLE', 'SERIAL_NUMBER', 'STUDY_SECTION', 'STUDY_SECTION_NAME',
       'SUBPROJECT_ID', 'SUFFIX', 'SUPPORT_YEAR', 'DIRECT_COST_AMT',
       'INDIRECT_COST_AMT', 'TOTAL_COST', 'TOTAL_COST_SUB_PROJECT'],
      dtype='object')
Index(['PMID', 'PROJECT_NUMBER'], dtype='object')

Theoretically, we can create one database with 'PI_ID','PMID', and 'Author Name', but combining publink and project databases on the 'CORE_PROJECT_NUM' column.

In [0]:
pubprj_core = pubprj[['CORE_PROJECT_NUM','PI_IDS','PI_NAMEs']]
pubmed_join = pd.merge(left=publnk, right=pubprj_core, left_on='PROJECT_NUMBER', right_on='CORE_PROJECT_NUM')

In [0]:
pubmed_join

            PMID  ...                                           PI_NAMEs
0       24561078  ...                                    CIMINO, JAMES ;
1       24850353  ...                                    CIMINO, JAMES ;
2       24262893  ...                                    CIMINO, JAMES ;
3       24727931  ...                                    CIMINO, JAMES ;
4       23966483  ...                                    CIMINO, JAMES ;
...          ...  ...                                                ...
656596  24281982  ...                                LIDKE, KEITH ALLAN;
656597  25339690  ...                            MANI, SENDURAI AYYAVOO;
656598  25334031  ...  BOURGEOIS, FLORENCE  (contact); MANDL, KENNETH D;
656599  24956460  ...                                    CROWE, JAMES E;
656600  25142523  ...    BIALEK, WILLIAM ; SHAEVITZ, JOSHUA W (contact);

[656601 rows x 5 columns]

From just one year - we have 650K worth of articles!