<a href="https://colab.research.google.com/github/rgranit/academix-ydata-project/blob/master/code/1_Getting_Labeled_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
''' Initializations '''

import pandas as pd
import os, zipfile
from getpass import getpass
import urllib

PATH = "/content/AYP/data/labeled_dataset/source_files/"

In [45]:
user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
cmd_string = "! git clone https://{0}:{1}@github.com/rgranit/academix-ydata-project AYP".format(user, password)

os.system(cmd_string)
cmd_string, password = "", "" # removing the password from the variable

User name: ShaulSolomon
Password: ··········
! git clone https://ShaulSolomon:notmyactualpassword@github.com/rgranit/academix-ydata-project AYP

In [0]:
! cd /content/AYP

Databases were scraped from:
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=0&index=5
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=5&index=0

(There is a theoretical other dataset on the publications themselves, if we so need).

Details on database metadata: https://exporter.nih.gov/about.aspx

In [0]:
extension = ".zip"

#os.chdir(PATH) # change directory from working dir to dir with files

for item in os.listdir(PATH): # loop through items in dir
    if item.endswith(extension): # check for ".zip" extension
        file_name = os.path.abspath(item) # get full path of files
        zip_ref = zipfile.ZipFile(file_name) # create zipfile object
        zip_ref.extractall(dir_name) # extract file to dir
        zip_ref.close() # close file
        #os.remove(file_name) # delete zipped file

Archive:  /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.zip
replace /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.csv
Archive:  /content/AYP/data/labeled_dataset/source_files/nih_prj.zip
  inflating: /content/AYP/data/labeled_dataset/source_files/RePORTER_PRJ_C_FY2014.csv

In [0]:
!unzip /content/AYP/data/labeled_dataset/source_files/RePORTER_PUBLNK_C_2014.zip -d /content/AYP/data/labeled_dataset/source_files/
!unzip /content/AYP/data/labeled_dataset/source_files/nih_prj.zip -d /content/AYP/data/labeled_dataset/source_files/
publnk = pd.read_csv(PATH + "RePORTER_PUBLNK_C_2014.csv")
pubprj = pd.read_csv(PATH + "RePORTER_PRJ_C_FY2014.csv", encoding='latin-1')
print(pubprj.columns)
print(publnk.columns)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Theoretically, we can create one database with 'PI_ID','PMID', and 'Author Name', but combining publink and project databases on the 'CORE_PROJECT_NUM' column.

In [0]:
pubprj_core = pubprj[['CORE_PROJECT_NUM','PI_IDS','PI_NAMEs']]
pubmed_join = pd.merge(left=publnk, right=pubprj_core, left_on='PROJECT_NUMBER', right_on='CORE_PROJECT_NUM')

In [0]:
pubmed_join

            PMID  ...                                           PI_NAMEs
0       24561078  ...                                    CIMINO, JAMES ;
1       24850353  ...                                    CIMINO, JAMES ;
2       24262893  ...                                    CIMINO, JAMES ;
3       24727931  ...                                    CIMINO, JAMES ;
4       23966483  ...                                    CIMINO, JAMES ;
...          ...  ...                                                ...
656596  24281982  ...                                LIDKE, KEITH ALLAN;
656597  25339690  ...                            MANI, SENDURAI AYYAVOO;
656598  25334031  ...  BOURGEOIS, FLORENCE  (contact); MANDL, KENNETH D;
656599  24956460  ...                                    CROWE, JAMES E;
656600  25142523  ...    BIALEK, WILLIAM ; SHAEVITZ, JOSHUA W (contact);

[656601 rows x 5 columns]

From just one year - we have 650K worth of articles!

In [33]:
'''

import pandas as pd
import glob
'''
# The purpose of this script is to append pmids to NIH project details files so that we can extract the author affiliation from that data
# The files are located in ~/s3-drive/NIH pubs/
'''
all_files = glob.glob(“./pub_to_project ID/RePORTER_PUBLNK_C_20*.csv”)
all_files
li=[]
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
pub_project = pd.concat(li, axis=0, ignore_index=True)
print(pub_project.head())
all_proj_files = glob.glob(“./projects/RePORTER_PRJ_C_FY*.csv”)
l=[]
print(“loading project files..“)
for filename in all_proj_files:
    print(“working on “+filename)
    df = pd.read_csv(filename, index_col=None, header=0,encoding = ‘ISO-8859-1’, usecols=[“CORE_PROJECT_NUM”, “ORG_CITY”, “ORG_COUNTRY”, “ORG_DEPT”, “ORG_NAME”,“ORG_STATE”,“ORG_ZIPCODE”, “PI_IDS”, “PI_NAMEs” ] )
    l.append(df)
print(“merging the projects data”)
projects = pd.concat(l, axis=0, ignore_index=True)
print(projects.head())
projects = projects.rename(columns = {‘CORE_PROJECT_NUM’:‘PROJECT_NUMBER’})
projects.head()
print("merging the dataframes")
df = pd.merge(pub_project, projects, how=‘inner’, on = ‘PROJECT_NUMBER’)
df.head(10)
print("removing duplicates")
df= df.drop_duplicates('PMID')
df.to_csv(‘output_no_dup.csv’,encoding=‘utf-8’)
'''

'\nall_files = glob.glob(“./pub_to_project ID/RePORTER_PUBLNK_C_20*.csv”)\nall_files\nli=[]\nfor filename in all_files:\n    df = pd.read_csv(filename, index_col=None, header=0)\n    li.append(df)\npub_project = pd.concat(li, axis=0, ignore_index=True)\nprint(pub_project.head())\nall_proj_files = glob.glob(“./projects/RePORTER_PRJ_C_FY*.csv”)\nl=[]\nprint(“loading project files..“)\nfor filename in all_proj_files:\n    print(“working on “+filename)\n    df = pd.read_csv(filename, index_col=None, header=0,encoding = ‘ISO-8859-1’, usecols=[“CORE_PROJECT_NUM”, “ORG_CITY”, “ORG_COUNTRY”, “ORG_DEPT”, “ORG_NAME”,“ORG_STATE”,“ORG_ZIPCODE”, “PI_IDS”, “PI_NAMEs” ] )\n    l.append(df)\nprint(“merging the projects data”)\nprojects = pd.concat(l, axis=0, ignore_index=True)\nprint(projects.head())\nprojects = projects.rename(columns = {‘CORE_PROJECT_NUM’:‘PROJECT_NUMBER’})\nprojects.head()\nprint("merging the dataframes")\ndf = pd.merge(pub_project, projects, how=‘inner’, on = ‘PROJECT_NUMBER’)\ndf.head(10)\nprint("removing duplicates")\ndf= df.drop_duplicates(\'PMID\')\ndf.to_csv(‘output_no_dup.csv’,encoding=‘utf-8’)\n\n'

ERROR! Session/line number was not unique in database. History logging moved to new session 59