In [0]:
''' Initializations '''

import pandas as pd

Databases were scraped from:
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=0&index=5
https://exporter.nih.gov/ExPORTER_Catalog.aspx?sid=5&index=0

(There is a theoretical other dataset on the publications themselves, if we so need).

Details on database metadata: https://exporter.nih.gov/about.aspx

In [4]:
!unzip /content/RePORTER_PUBLNK_C_2014.zip
!unzip /content/nih_prj.zip

Archive:  /content/RePORTER_PUBLNK_C_2014.zip
  inflating: RePORTER_PUBLNK_C_2014.csv

In [13]:
publnk = pd.read_csv("/content/RePORTER_PUBLNK_C_2014.csv")
pubprj = pd.read_csv("/content/RePORTER_PRJ_C_FY2014.csv", encoding='latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
print(pubprj.columns)
print(publnk.columns)

Index(['APPLICATION_ID', 'ACTIVITY', 'ADMINISTERING_IC', 'APPLICATION_TYPE',
       'ARRA_FUNDED', 'AWARD_NOTICE_DATE', 'BUDGET_START', 'BUDGET_END',
       'CFDA_CODE', 'CORE_PROJECT_NUM', 'ED_INST_TYPE', 'FOA_NUMBER',
       'FULL_PROJECT_NUM', 'FUNDING_ICs', 'FUNDING_MECHANISM', 'FY', 'IC_NAME',
       'NIH_SPENDING_CATS', 'ORG_CITY', 'ORG_COUNTRY', 'ORG_DEPT',
       'ORG_DISTRICT', 'ORG_DUNS', 'ORG_FIPS', 'ORG_IPF_CODE', 'ORG_NAME',
       'ORG_STATE', 'ORG_ZIPCODE', 'PHR', 'PI_IDS', 'PI_NAMEs',
       'PROGRAM_OFFICER_NAME', 'PROJECT_START', 'PROJECT_END', 'PROJECT_TERMS',
       'PROJECT_TITLE', 'SERIAL_NUMBER', 'STUDY_SECTION', 'STUDY_SECTION_NAME',
       'SUBPROJECT_ID', 'SUFFIX', 'SUPPORT_YEAR', 'DIRECT_COST_AMT',
       'INDIRECT_COST_AMT', 'TOTAL_COST', 'TOTAL_COST_SUB_PROJECT'],
      dtype='object')
Index(['PMID', 'PROJECT_NUMBER'], dtype='object')

Theoretically, we can create one database with 'PI_ID','PMID', and 'Author Name', but combining publink and project databases on the 'CORE_PROJECT_NUM' column.

In [0]:
pubprj_core = pubprj[['CORE_PROJECT_NUM','PI_IDS','PI_NAMEs']]
pubmed_join = pd.merge(left=publnk, right=pubprj_core, left_on='PROJECT_NUMBER', right_on='CORE_PROJECT_NUM')

In [25]:
pubmed_join

            PMID  ...                                           PI_NAMEs
0       24561078  ...                                    CIMINO, JAMES ;
1       24850353  ...                                    CIMINO, JAMES ;
2       24262893  ...                                    CIMINO, JAMES ;
3       24727931  ...                                    CIMINO, JAMES ;
4       23966483  ...                                    CIMINO, JAMES ;
...          ...  ...                                                ...
656596  24281982  ...                                LIDKE, KEITH ALLAN;
656597  25339690  ...                            MANI, SENDURAI AYYAVOO;
656598  25334031  ...  BOURGEOIS, FLORENCE  (contact); MANDL, KENNETH D;
656599  24956460  ...                                    CROWE, JAMES E;
656600  25142523  ...    BIALEK, WILLIAM ; SHAEVITZ, JOSHUA W (contact);

[656601 rows x 5 columns]

From just one year - we have 650K worth of articles!