<a href="https://colab.research.google.com/github/rgranit/academix-ydata-project/blob/master/code/1_merged_datasets_for_labeled_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Outline

Merges the NIH dataset and the Academix dataset and removes duplicates.

**Data Available**

> Enriched Dataset: 96K <br>
> Not Enriched Dataset: 20K 

**Instances of Author Disambiguation**

Need to fix `1_clean_NIH_dataset.ipynb` first

## Initializations

In [1]:
!pip install boto

Collecting boto
  Downloading https://files.pythonhosted.org/packages/23/10/c0b78c27298029e4454a472a1919bde20cb182dab1662cec7f2ca1dcc523/boto-2.49.0-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 2.7MB/s
Installing collected packages: boto
Successfully installed boto-2.49.0

In [2]:
import os, urllib, glob, sys
from getpass import getpass

user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
cmd_string = "! git clone https://{0}:{1}@github.com/rgranit/academix-ydata-project AYP".format(user, password)

os.system(cmd_string)
cmd_string, password = "", "" # removing the password from the variable

User name: ShaulSolomon
Password: ··········

In [3]:
%cd /content/AYP/code

/content/AYP/code

In [0]:
from boto.s3.connection import S3Connection
from boto.s3.key import Key
from boto import s3
import boto3, os, re
import pandas as pd
import numpy as np
import s3_functions

In [0]:
df_nih = s3_functions.get_dataframe_from_s3(file="NIH_postcleaning.csv")
df_nih.drop('Unnamed: 0',axis=1, inplace=True)

# Retrieve Enriched Academix Data
df_aca_r = s3_functions.get_dataframe_from_s3(file="academix_enriched.csv")
df_aca_r.drop('Unnamed: 0',axis=1, inplace=True)

# Retrieve Not Enriched Academix Data
df_aca_nr = s3_functions.get_dataframe_from_s3(file="academix_not_enriched.csv")
df_aca_nr.drop('Unnamed: 0',axis=1, inplace=True)

## Implementation

In [9]:
df_nih.head()

       PMID PROJECT_NUMBER    FY    PI_IDS        PI_NAMEs cleaned_name
0  19415686    ZIAAR041131  2009  1858712;  TUAN, ROCKY S;     Tuan, RS
1  19650110    ZIAAR041131  2009  1858712;  TUAN, ROCKY S;     Tuan, RS
2  19283731    ZIAAR041131  2009  1858712;  TUAN, ROCKY S;     Tuan, RS
3  19274753    ZIAAR041131  2009  1858712;  TUAN, ROCKY S;     Tuan, RS
4  19479830    ZIAAR041131  2009  1858712;  TUAN, ROCKY S;     Tuan, RS

In [10]:
df_aca_r.head()

   doi  ...                                              title
0  NaN  ...  "Catching flies with honey": the management of...
1  NaN  ...  Histamine Immunoreactive Elements in the Centr...
2  NaN  ...  CSF1-ETS2-induced microRNA in myeloid cells pr...
3  NaN  ...  Brain pathways to recovery from alcohol depend...
4  NaN  ...    ABCB5 Identifies Immunoregulatory Dermal Cells.

[5 rows x 15 columns]

In [0]:
#Make sure both df's have the same column names
df_nih.rename(columns={'cleaned_name':'last_author_name',
                          'PMID':'pmid'}, 
                 inplace=True)

In [0]:
df_join = pd.merge(left=df_nih, right=df_aca_r, how="inner",on=['last_author_name','pmid'],suffixes=('_nih','_aca_r'))

In [18]:
#check for duplicates
df_join.groupby('pmid').size()

pmid
17570563    1
17709154    1
17719144    1
17850924    1
17850926    1
           ..
30655730    1
30686936    1
30766696    1
30774557    1
30792557    1
Length: 96434, dtype: int64

In [17]:
#explore one example of possible duplicates
df_join[df_join['pmid'] == 30655730]

           pmid  ...                                              title
55019  30655730  ...  Epigenetic and Immune Regulation of Colorectal...

[1 rows x 19 columns]

In [0]:
#remove duplicates
df_join = df_join.sort_values("FY", ascending=False)
df_join = df_join.drop_duplicates(["last_author_name","pmid"])

In [34]:
len(df_join.index)

96434

We have 95K of datapoints here with labeles ID's for pubmed.

In [20]:
np.any(df_join.groupby('pmid').size() > 1)

False

***Repeat for non enriched dataset.***

In [0]:
df_join_nr = pd.merge(left=df_nih, right=df_aca_nr, how="inner",on=['last_author_name','pmid'],suffixes=('_nih','_aca_nr'))

In [22]:
#check for duplicates
df_join_nr.groupby('pmid').size()

pmid
18314898    1
18367107    2
18377952    1
18393672    2
18402832    2
           ..
30516974    2
30517833    2
30518204    1
30518538    1
30518596    3
Length: 19956, dtype: int64

In [24]:
#explore one example of possible duplicates
df_join_nr[df_join_nr['pmid'] == 30517833]

          pmid  ...                                              title
7445  30517833  ...  Implicit Memory, Constructive Memory, and Imag...
7446  30517833  ...  Implicit Memory, Constructive Memory, and Imag...

[2 rows x 14 columns]

In [0]:
#remove duplicates
df_join_nr = df_join_nr.sort_values("FY", ascending=False)
df_join_nr = df_join_nr.drop_duplicates(["last_author_name","pmid"])

In [35]:
len(df_join_nr.index)

19956

In [29]:

np.any(df_join_nr.groupby('pmid').size() > 1)

False

##Upload to S3

In [0]:
df_join.to_csv('enriched_labeled_dataset.csv')
df_join_nr.to_csv('not_enriched_labeled_dataset.csv')

In [0]:
file = open("enriched_labeled_dataset.csv", "r+")
s3_functions.upload_to_s3(file=file,key= file.name)
file.close()
file = open("not_enriched_labeled_dataset.csv", "r+")
s3_functions.upload_to_s3(file=file,key = file.name)
file.close()

## Explore Data

In [0]:
df_join_test = df_join[["pmid","PI_IDS","last_author_name"]]